USE [master]
GO
/****** Object:  Database [Facturacion_programacion]    Script Date: 7/9/2025 22:40:54 ******/
CREATE DATABASE [Facturacion_programacion]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Facturacion_programacion', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Facturacion_programacion.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Facturacion_programacion_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Facturacion_programacion_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Facturacion_programacion].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Facturacion_programacion]
GO
/****** Object:  Table [dbo].[Articulos]    Script Date: 7/9/2025 22:40:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articulos](
	[id_articulo] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[precio_unitario] [decimal](10, 2) NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [pk_articulo] PRIMARY KEY CLUSTERED 
(
	[id_articulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detalles_factura]    Script Date: 7/9/2025 22:40:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalles_factura](
	[id_detalle_factura] [int] IDENTITY(1,1) NOT NULL,
	[id_articulo] [int] NULL,
	[id_factura] [int] NULL,
	[cantidad] [int] NULL,
	[Activo] [bit] NULL,
 CONSTRAINT [pk_detalle] PRIMARY KEY CLUSTERED 
(
	[id_detalle_factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Facturas]    Script Date: 7/9/2025 22:40:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facturas](
	[id_factura] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [date] NULL,
	[id_forma_pago] [int] NULL,
	[cliente] [varchar](50) NULL,
	[Activo] [bit] NULL,
 CONSTRAINT [pk_factura] PRIMARY KEY CLUSTERED 
(
	[id_factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[formas_pago]    Script Date: 7/9/2025 22:40:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[formas_pago](
	[id_forma_pago] [int] IDENTITY(1,1) NOT NULL,
	[forma_pago] [varchar](50) NULL,
	[Activo] [bit] NULL,
 CONSTRAINT [pk_forma_pago] PRIMARY KEY CLUSTERED 
(
	[id_forma_pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Articulos] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[detalles_factura]  WITH CHECK ADD  CONSTRAINT [fk_articulo] FOREIGN KEY([id_articulo])
REFERENCES [dbo].[Articulos] ([id_articulo])
GO
ALTER TABLE [dbo].[detalles_factura] CHECK CONSTRAINT [fk_articulo]
GO
ALTER TABLE [dbo].[detalles_factura]  WITH CHECK ADD  CONSTRAINT [fk_factura] FOREIGN KEY([id_factura])
REFERENCES [dbo].[Facturas] ([id_factura])
GO
ALTER TABLE [dbo].[detalles_factura] CHECK CONSTRAINT [fk_factura]
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD  CONSTRAINT [fk_forma_pago] FOREIGN KEY([id_forma_pago])
REFERENCES [dbo].[formas_pago] ([id_forma_pago])
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [fk_forma_pago]
GO
/****** Object:  StoredProcedure [dbo].[sp_actualizar_articulo]    Script Date: 7/9/2025 22:40:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_actualizar_articulo]
    @id_articulo INT,
    @nombre VARCHAR(50),
    @precio_unitario DECIMAL(10,2),
	@Activo bit
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Articulos
    SET nombre = @nombre,
        precio_unitario = @precio_unitario,
		Activo = @Activo
    WHERE id_articulo = @id_articulo;

END
GO
/****** Object:  StoredProcedure [dbo].[sp_actualizar_detalle_factura]    Script Date: 7/9/2025 22:40:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_actualizar_detalle_factura]
    @id_detalle_factura INT,
    @id_articulo INT,
    @id_factura INT,
    @cantidad INT,
	@Activo bit
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE detalles_factura
    SET id_articulo = @id_articulo,
        id_factura = @id_factura,
        cantidad = @cantidad,
		Activo = @Activo
    WHERE id_detalle_factura = @id_detalle_factura;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_actualizar_factura]    Script Date: 7/9/2025 22:40:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_actualizar_factura]
    @id_factura INT,
    @fecha DATE,
    @id_forma_pago INT,
    @cliente VARCHAR(50),
	@Activo bit
AS
BEGIN
   

    UPDATE Facturas
    SET fecha = @fecha,
        id_forma_pago = @id_forma_pago,
        cliente = @cliente,
		Activo = @Activo
    WHERE id_factura = @id_factura;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_actualizar_formaPago]    Script Date: 7/9/2025 22:40:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[sp_actualizar_formaPago]
    @id_forma_pago INT,
	@forma_pago varchar(50),
	@Activo bit
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE formas_pago
    SET forma_pago = @forma_pago,
		Activo = @Activo
    WHERE id_forma_pago = @id_forma_pago;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_eliminar_articulo]    Script Date: 7/9/2025 22:40:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_eliminar_articulo]
    @id_articulo INT,
    @Activo bit
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Articulos
    SET Activo = @Activo
    WHERE id_articulo = @id_articulo;

END
GO
/****** Object:  StoredProcedure [dbo].[sp_eliminar_detalle_factura]    Script Date: 7/9/2025 22:40:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_eliminar_detalle_factura]
    @id_detalle_factura INT,
	@Activo bit
AS
BEGIN
    SET NOCOUNT ON;

   UPDATE detalles_factura
    SET Activo = @Activo
    WHERE id_detalle_factura = @id_detalle_factura;

END
GO
/****** Object:  StoredProcedure [dbo].[sp_eliminar_factura]    Script Date: 7/9/2025 22:40:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[sp_eliminar_factura]
    @id_factura INT,
	@Activo bit
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Facturas
    SET Activo = @Activo
    WHERE id_factura = @id_factura;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_eliminar_formaPago]    Script Date: 7/9/2025 22:40:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[sp_eliminar_formaPago]
    @id_forma_pago INT,
	@Activo bit
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE formas_pago
    SET	  Activo = @Activo
    WHERE id_forma_pago = @id_forma_pago;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllArticulos]    Script Date: 7/9/2025 22:40:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllArticulos]
AS
BEGIN
    SELECT id_articulo, nombre, precio_unitario, Activo
    FROM Articulos;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllDetallesFactura]    Script Date: 7/9/2025 22:40:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* =========================
   SPs para Detalles de Factura
   ========================= */
CREATE PROCEDURE [dbo].[sp_GetAllDetallesFactura]
AS
BEGIN
    SELECT d.id_detalle_factura, d.id_factura, d.id_articulo, a.nombre AS articulo, d.cantidad
    FROM detalles_factura d
    LEFT JOIN Articulos a ON d.id_articulo = a.id_articulo
    LEFT JOIN Facturas f ON d.id_factura = f.id_factura;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllFacturas]    Script Date: 7/9/2025 22:40:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllFacturas]
AS
BEGIN
    SELECT f.id_factura, f.fecha, f.id_forma_pago, fp.forma_pago, f.cliente, f.Activo, d.id_detalle_factura
    FROM Facturas f
    LEFT JOIN formas_pago fp ON f.id_forma_pago = fp.id_forma_pago
	left join detalles_factura d on d.id_factura = f.id_factura
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllFormasPago]    Script Date: 7/9/2025 22:40:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* =========================
   SPs para Formas de Pago
   ========================= */
CREATE PROCEDURE [dbo].[sp_GetAllFormasPago]
AS
BEGIN
    SELECT id_forma_pago, forma_pago
    FROM formas_pago;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetArticuloById]    Script Date: 7/9/2025 22:40:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetArticuloById]
    @id_articulo INT
AS
BEGIN
    SELECT id_articulo, nombre, precio_unitario, Activo
    FROM Articulos
    WHERE id_articulo = @id_articulo;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetDetalleFacturaById]    Script Date: 7/9/2025 22:40:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetDetalleFacturaById]
    @id_detalle_factura INT
AS
BEGIN
    SELECT d.id_detalle_factura, d.id_factura, d.id_articulo, a.nombre AS articulo, d.cantidad, d.Activo
    FROM detalles_factura d
    LEFT JOIN Articulos a ON d.id_articulo = a.id_articulo
    LEFT JOIN Facturas f ON d.id_factura = f.id_factura
    WHERE d.id_detalle_factura = @id_detalle_factura;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetDetallesByFactura]    Script Date: 7/9/2025 22:40:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetDetallesByFactura]
    @id_factura INT
AS
BEGIN
    SELECT df.id_factura,df.id_detalle_factura,df.cantidad, df.Activo ,  a.nombre, a.id_articulo, a.precio_unitario, a.Activo
    FROM detalles_factura df
    LEFT JOIN Articulos a on a.id_articulo = df.id_articulo
    WHERE df.id_factura = @id_factura;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetFacturaById]    Script Date: 7/9/2025 22:40:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetFacturaById]
    @id_factura INT
AS
BEGIN
    SELECT f.id_factura, f.fecha, f.id_forma_pago, fp.forma_pago, f.cliente, f.Activo
    FROM Facturas f
    LEFT JOIN formas_pago fp ON f.id_forma_pago = fp.id_forma_pago
    WHERE f.id_factura = @id_factura;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetFormaPagoById]    Script Date: 7/9/2025 22:40:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetFormaPagoById]
    @id_forma_pago INT
AS
BEGIN
    SELECT id_forma_pago, forma_pago, Activo
    FROM formas_pago
    WHERE id_forma_pago = @id_forma_pago;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_insertar_articulo]    Script Date: 7/9/2025 22:40:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_insertar_articulo]
    @nombre VARCHAR(50),
    @precio_unitario DECIMAL(10,2),
	@Activo bit 
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Articulos (nombre, precio_unitario, Activo)
    VALUES (@nombre, @precio_unitario, @Activo);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_insertar_detalle_factura]    Script Date: 7/9/2025 22:40:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_insertar_detalle_factura]
    @id_articulo INT,
    @id_factura INT,
    @cantidad INT,
	@Activo bit
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO detalles_factura (id_articulo, id_factura, cantidad, Activo)
    VALUES (@id_articulo, @id_factura, @cantidad, @Activo);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_insertar_factura]    Script Date: 7/9/2025 22:40:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_insertar_factura]
    @fecha DATE,
    @id_forma_pago INT,
    @cliente VARCHAR(50),
	@Activo bit
AS
BEGIN
    

    INSERT INTO Facturas (fecha, id_forma_pago, cliente, Activo)
    VALUES (@fecha, @id_forma_pago, @cliente, @Activo);

    -- Devolver el ID generado de la factura
    SELECT SCOPE_IDENTITY() AS id_factura;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_insertar_forma_pago]    Script Date: 7/9/2025 22:40:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[sp_insertar_forma_pago]
    @forma_pago VARCHAR(50),
	@Activo bit 
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO formas_pago (forma_pago, Activo)
    VALUES (@forma_pago, @Activo);
END
GO
USE [master]
GO
